<header>
  <!-- <app-header-sidebar-button
    (drawerToggle)="onDrawerToggle()"
    [isDrawerOpen]="isDrawerOpen"
  ></app-header-sidebar-button> -->

  <app-header-sidebar-button></app-header-sidebar-button>

  <div class="brand">AUTH PROCESS</div>
</header>

<!-- <div
    (click)="onDrawerToggle()"
    class="{{ isDrawerOpen ? 'overlay overlay-show' : 'overlay' }}"
  ></div> -->

<!-- <app-header-sidebar
  (drawerToggle)="onDrawerToggle()"
  [isDrawerOpen]="isDrawerOpen"
></app-header-sidebar> -->

<app-header-sidebar></app-header-sidebar>
