<div class="app-list-container">
  <div class="app-list">
    <div class="app-list-heading">
      <h2>Application</h2>
      <a href="#"
        ><fa-icon [icon]="faPlusCircle" (click)="addApps($event)"></fa-icon
      ></a>
    </div>
    <div class="app-list-control">
      <button (click)="appPrev()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </button>
      <p>{{ appsModel._meta.page + " of " + appsModel._meta.total_pages }}</p>
      <p>{{ "Total apps:  " + appsModel._meta.total_items }}</p>
      <button (click)="appNext()">
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </div>
    <div class="app-list-items">
      <app-application
        *ngFor="let app of appsModel.apps"
        [app]="app"
      ></app-application>
    </div>
  </div>
</div>
